extends template

append stylesheets
    link(rel="stylesheet", href="/css/index.css")

block banner-content
    div.black-overlay
        img(src="/img/banner.jpg", alt="Banner Image")

block layout-content
    section.product-grid
        each product in products 
            .product
                img(src=product.imageUrl, alt=product.name)
                p.product-name #{product.name}
                p.product-price $#{product.price}.00

    if products.length === 0
        div.empty-state
            p No products found!
